[Unit]
Description=LXC GitHub Runner Disk Monitor - Chạy định kỳ
Documentation=https://github.com/ynguyengravity/setup-github-runner

[Timer]
OnCalendar=*-*-* 01,05,09,13,17,21:00:00
RandomizedDelaySec=0
Persistent=true

[Install]
WantedBy=timers.target
